<!DOCTYPE html>
{% extends "event_manager/base.html" %}

{% block title_block %}
  CREATE EVENT
{% endblock %}

{% block button_block%}
  <a href="/" class="btn btn-default btn-lg">Go Back</a>
{% endblock%}

{% block body_block %}
  <div class="jumbotron">
    {% if my_role == 'O'%}
      <h1>Host your event here</h1>
      <form class="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="" class="btn btn-primary" value="Create">
      </form>
    {% else %}
      <h1>You Dont Have Permission</h1>
    {% endif %}
  </div>
{% endblock %}
